
# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask==0.12.1

# Flask Packages
Flask-PyMongo==0.4.1
Flask-Cors==3.0.2

# Development tools
